.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    border: 1px solid black;
}

/*  INTRO */

.intro {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}

.info {
    width: 54%;
    aspect-ratio: 1/0.84;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 1%;
}

.note {
    font-family: inter;
    color: black;
    font-size: 2.2vw;
    font-weight: 400;
    width: 100%;
    aspect-ratio: 1/0.56;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note .heading {
    font-size: 4.5vw;
    font-weight: 600;
}

.infoUtilities {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUtilities form {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 3%;
}

.infoUtilities input {
    width: 52%;
    aspect-ratio: 1/0.16;
    border: 1px solid #B6BCB9;
    border-radius: 5px;
    font-size: 1.2vw;
    padding-left: 4%;
    font-family: inter;
}

.infoUtilities button {
    width: 7.8%;
    aspect-ratio: 1/1;
    padding: 1.5%;
    background-color: #19d883;
    border: 0px;
    border-radius: 5px;
}

.img1 {
    width: 37.8%;
    aspect-ratio: 1/1.2;
    background-image: url(/public/Rectangle\ 1241.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* PHARMACY */

.pharmacy {
    width: 90%;
    padding-top: 2%;
    border: 1px solid black;
}