.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    row-gap: 70px;
}

/*  INTRO */

.intro {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}

.info {
    width: 54%;
    aspect-ratio: 1/0.84;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 1%;
}

.note {
    font-family: inter;
    color: black;
    font-size: 2.2vw;
    font-weight: 400;
    width: 100%;
    aspect-ratio: 1/0.56;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note .heading {
    font-size: 4.5vw;
    font-weight: 600;
}

.infoUtilities {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUtilities form {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 3%;
}

.infoUtilities input {
    width: 52%;
    aspect-ratio: 1/0.16;
    border: 1px solid #B6BCB9;
    border-radius: 5px;
    font-size: 1.2vw;
    padding-left: 4%;
    font-family: inter;
}

.infoUtilities button {
    width: 7.8%;
    aspect-ratio: 1/1;
    padding: 1.5%;
    background-color: #19d883;
    border: 0px;
    border-radius: 5px;
}

.img1 {
    width: 37.8%;
    aspect-ratio: 1/1.2;
    background-image: url(/public/Rectangle\ 1241.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* PHARMACY */

.pharmacy {
    width: 90%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1/0.28;
}

.pharmacyHead {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.5%;
}

.pharmacyHead div {
    width: 3%;
    aspect-ratio: 1/1;
}

.pharmacyHead p {
    font-family: inter;
    font-size: 2vw;
    font-weight: 300;
    color: #999;
}

.pharmacyList {
    display: flex;
    width: 100%;
    align-items: center;
    aspect-ratio: 1/0.16;
    flex-wrap: wrap;
    column-gap: 9.26%;
    row-gap: 16.8%;
    overflow: hidden;
    padding-top: 2%;
}

.list {
    width: 18%;
    aspect-ratio: 1/0.3;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
}

.plus {
    width: 28.1%;
    background-color: #19d883;
    aspect-ratio: 1/1;
    padding: 4%;
    border-radius: 10px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    aspect-ratio: 1/0.4;
    font-size: 1vw;
    font-family: inter;
    font-weight: 400;
}

.nm {
    display: flex;
    width: 100%;
    aspect-ratio: 1/0.1;
    overflow: hidden;
}

.nm div {
    width: 53%;
    word-break: break-all;
}

.ad {
    display: flex;
    width: 100%;
    aspect-ratio: 1/0.1;
    overflow: hidden;
    font-size: 0.8vw;
}

.ad div {
    width: 80%;
    word-break: break-all;
}

.stars {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.stars div {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.findMore {
    width: 10%;
    aspect-ratio: 1/0.3;
    border: 1px solid #19d883;
    font-family: inter;
    font-size: 1vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

/* services */

.services {
    width: 90%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1/0.36;
}

.subintro {
    font-family: inter;
    font-size: 1.5vw;
    font-weight: 300;
    color: #B6BCB9;
    width: 100%;
}

.service {
    width: 100%;
    aspect-ratio: 1/0.2;
    display: flex;
    justify-content: space-between;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.serviceList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 24%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
}

.view {
    width: 15%;
    aspect-ratio: 1/1;
}

.viewName {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: inter;
}

.viewSummary {
    font-size: 1vw;
    font-weight: 300;
    font-family: inter;
    width: 80%;
    text-align: center;
}




